body {
	background-image: url("capsBG.png");
	padding: 20px;
	margin-left: 100px;
	margin-right: 100px;
}
h1 {
	text-align: center; 
	font-family: impact;
	}
.float_right {float:right; 
			  margin-left: 10px;
			  margin-right: 10px;
			 }
.float_right {clear: both;}
.BackgroundTitle {font-family: impact;}
.HistoricVideos {font-family: impact;}	 
figcaption {font-family:impact;}
.DraftVideo {float: right;}
.wrapper
{
	background-color: #FF0000;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 10px 10px 10px #D80000;
	color: #0000A0;
}

.text {text-align:center; font-weight:bold; }

.byline {font-style:italic; font-size:15px;}

a:hover {color:#8B0000;
         text-decoration:underline;}